.sub_header{
    // height: 10rem;
    background-color: rgb(35 67 201);
}
.manage_btn{
    background-color: darkblue;
    padding: 0.4rem;
    border-radius: 3px;
    font-size: 0.8rem;
}
h6{
    font-size: 0.9rem;
}
h6.dp{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
}
.dd{
    background-color: darkblue;
    border-radius: 0.2rem;
}
.display-6{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;

}
