<div class="header_page">
    <div class="top_banner pt-2">
        <div class="container d-flex">
            <h6>My Home</h6>
            <h6 class="ms-4">My Business</h6>
        </div>
    </div>
    <div class="main_header bg-light pt-3 pb-3">
        <div class="container d-flex justify-content-between  align-items-center">
            <p class="display-6 m-0">Company X</p>
            <div class="user ">
                <p class="fw-bold m-0">Test User <i class="fa-solid fa-user"></i></p>
            </div>
        </div>
    </div>
    <div class="sub_header">
        <div class="container">
            <div class="row w-100 mx-auto">
                <div class="col-2 d-flex justify-content-between align-items-center">
                    <h6 class="text-white m-0">Account</h6>
                    <i class="fa-solid fa-chevron-right text-white"></i>
                </div>
                <div class="col-3 dd mt-2 mb-2 d-flex justify-content-between align-items-center">
                    <div class="dropdown d-flex align-items-center p-1">
                        <i class="fa-regular text-white fa-lightbulb"></i>
                        <div class="lh-0 ms-2">
                            <h6 class="dp">Electricity</h6>
                            <h6 class="dp">1213453xxxx</h6>
                        </div>
                    </div>
                    <i class="fa-solid fa-caret-down text-white"></i>
                </div>
                <div class="col-7 d-flex align-items-center justify-content-end">
                    <h6 class="text-white manage_btn m-0">Manage <i class="fa-regular fa-note-sticky"></i>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>