<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center p-3">
        <h4 class="fw-bold">Energy Usage</h4>
        <i *ngIf="energyTabStatus" class="fa-solid fa-chevron-up text-white fs-4" (click)="toggleEnergyTab()"></i>
        <i *ngIf="!energyTabStatus" class="fa-solid fa-chevron-down text-white fs-4" (click)="toggleEnergyTab()"></i>
    </div>
    <div class="card-body p-0">
        <div class="basic_data border bg-light p-3" *ngIf="energyTabStatus">
            <p class="m-0 pb-2"><span class="text-secondary fw-bold">Site address: </span> Flat 29, Middlesex, UB2 4WLL
            </p>
            <p class="m-0"><span class="text-secondary fw-bold">Meter Serial Number: </span> 26-00-00-00-00-00-02-01</p>
        </div>
        <div class="p-3" *ngIf="energyTabStatus">
            <app-consumption-card></app-consumption-card>


        </div>

        <div class="chart_space mt-3">
            <div class="chart">
                <div class="row align-items-center">
                    <div class="col-6 d-flex">
                        <div>
                            <h4 class="m-0 fw-bold">{{chosenReading.readingDate}}</h4>
                            <p class="m-0 lead update-status text-primary fw-bold">*last updated at
                                {{listOfLabel[listOfLabel.length-1]}}</p>
                        </div>
                        <div class="reading-show ms-2 ps-2" *ngIf="toggleReadingDisplayed">
                            <p class="m-0">Total Consumption</p>
                            <h4 class="lead">{{dailyConsumption}}kWh</h4>
                        </div>

                        <div class="reading-show ms-2 ps-2" *ngIf="!toggleReadingDisplayed">
                            <p class="m-0">Total Tariff</p>
                            <h4 class="lead"><i class="fa-solid fa-sterling-sign"></i>{{tariffInPounds}}</h4>
                        </div>

                    </div>
                    
                </div>
                <!-- <hr> -->
                <div class="d-flex justify-content-between">
                    <div class="toggle-type d-flex mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                value="kwh" checked (input)="toggleType($event)">
                            <label class="form-check-label" for="flexRadioDefault1">
                                In kWh
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                value="pounds" (input)="toggleType($event)">
                            <label class="form-check-label" for="flexRadioDefault2">
                                In Pound
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end pt-2">
                        <div class="see-past-con me-3 d-flex" *ngIf="!disableYesterday">
                            <input type="checkbox" class="form-check me-2" (input)="showYesterday($event)"
                                [checked]="showYesterdayCheck">
                            <p class="m-0">Compare with yesterday</p>
                        </div>
                        <div class="see-past-con me-3" *ngIf="disableYesterday">
                            <p class="m-0" (click)="resetToPresent()">Present Day</p>
                        </div>
                        <div class="see-past-con text-end" data-bs-toggle="modal" data-bs-target="#timelineModal">
                            See past consumption
                        </div>
                    </div>

                </div>

                <div class="consumptionChart">
                    <canvas id="acquisitions"></canvas>
                </div>
            </div>
        </div>

        <div class="consumption_comparison p-4">
            <app-usage-comparison></app-usage-comparison>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="timelineModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="time-line">
                    <div class="mb-3">
                        <label for="chooseTimeline">Choose Timeline</label>
                        <select class="form-select w-50" aria-label="Default select example"
                            (input)="chooseTimeline($event)">
                            <!-- <option *ngFor="let date of dateList" [value]="date">{{date}}</option> -->
                            <option>Select</option>
                            <option value="Day">Day</option>
                            <option value="Month">Month</option>
                            <option value="Year">Year</option>
                        </select>
                    </div>
                    <div class="mb-3 date-pick" *ngIf="showDate">
                        <label>Choose Date</label>
                        <input type="date" name="" id="" min="2018-12-24" max="2019-05-15" class="form-control"
                            (input)="chooseDate($event)">
                    </div>
                    <div class="mb-3 month-pick" *ngIf="showMonth">
                        <label>Choose Month</label>
                        <input type="month" id="" min="2018-12" max="2019-05" class="form-control"
                            (input)="chooseMonth($event)">
                    </div>

                    <div class="mb-3 year-pick" *ngIf="showYear">
                        <label>Choose Year</label>
                        <select class="form-select" (input)="chooseYear($event)">
                            <option>Select</option>
                            <option>2019</option>
                            <option>2018</option>
                        </select>
                    </div>
                    <div class="timeline-buttons d-flex">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary d-block ms-auto" *ngIf="displayShowResultsButton"
                            (click)="showResults()" data-bs-dismiss="modal"
                            [disabled]="showYear && yearWiseConsumption.length!=12"><img
                                *ngIf="chosenYear!=undefined && yearWiseConsumption.length!=12"
                                src="../../assets/22.gif" width="20px">
                            Show Results
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

