.net-zero{
    background-image: url('../../assets/nz.jfif');
    background-size: 34%;
    background-repeat: no-repeat;
    // min-height: 10rem;
    // border: 5px solid green;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    // padding: 1rem;
    color: white;

    .text{
        // background-color: rgba(16, 139, 53, 0.699);
        background-color: rgba(0, 0, 0, 0.699);
        padding: 2.3rem;
        h5{
            font-size: 2rem;
            font-family: 'Times New Roman', Times, serif;
        }
        p{
            font-size: 1.1rem;
        }
    }
    .text:hover{
        transition: all 0.6s ease;
        background-color: rgba(0, 0, 0, 0.811);
    }
    .details{
        background-color: rgba(110, 181, 17, 0.829);
        ul{
            list-style: none;
            font-size: 1.1rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.936);
        }
    }
    .text-decoration-underline{
        cursor: pointer;
    }
    .text-decoration-underline:hover{
        color: rgb(6, 6, 27);
    }
}