<div class="net-zero">
    <div class="row mx-auto align-items-center">
        <div class="col-4 p-0">
            <!-- <img src="../../assets/nz.jfif" alt="no image" width="100%"> -->
            <div class="text">
                <h5 class="fw-bold">Great!!</h5>
                <p class="m-0">You have contributed <span class="fw-bold">187</span> units towards UK Net Zero Goal in this month</p>
            </div>
        </div>
        <div class="col-8 p-3 details">
            <ul>
                <li>Recommended: 900kWh</li>
                <li>Your Consumption: 713.62kWh</li>
                <li>Rewards Earned: <i class="fa-solid fa-sterling-sign"></i>1.40</li>
                <li>Rank: #6</li>
            </ul>
            <hr class="m-1">
            <p class="ms-4  text-decoration-underline">Read an article on how to save 15% next month <i class="fa-solid fa-arrow-up-right-from-square"></i></p>
        </div>
    </div>
</div>