.energy_page {
    // min-height: 90vh;
    margin-top: 1.5rem;
}

.account_card {
    .card {
        border: none;
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.126);

        .row {
            width: 100%;
        }
    }

}

.account_options {
    ul {
        list-style: none;

        li {
            padding-left: 0.7rem;
            border-left: 1px solid grey;
            color: grey;
        }

        li:nth-child(1) {
            color: rgb(35 67 201);
            border-left: 2px solid rgb(35 67 201);

        }
    }
}

hr {
    margin: 2rem 0rem
}

.elec_sec {
    padding: 2.4rem 0rem;
    background-color: rgb(35 67 201);
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.col-4 .lead {
    font-size: 1rem;
    // line-height: 0;
}


.col-3 .lead {
    font-size: 1rem;
    line-height: 1;
}

.tip_alert {
    // min-height: 4rem;
    width: 100%;
    background-color: #ffd43b;
    // background: linear-gradient(90deg, #ffd43b 40%, rgba(241,236,142,1) 94%);
    border: 1px solid rgb(188, 0, 0);
    border-radius: 0.4rem;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
    color: #183153;


}

.tip {
    width: 100%;
    background-color: #ffd43b;
    border-radius: 0.4rem;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
    color: #183153;
    margin-bottom: 1rem;

    .fa-lightbulb {
        background-color: white;
        padding: 0.2rem;
        border-radius: 50%;
    //     color: #183153;
    }
}

.tip_close_icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: red;
}

.tip-button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: white;
    // border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(18, 18, 18, 0.779);
    font-size: 0.9rem;
    font-weight: bold;
}