.login_page{
    background-image: url('../../assets/back.png');
    background-size: cover;
    .display-6{
        font-family: 'Raleway', sans-serif;
    }
    .header{
        background-color: rgba(0, 0, 0, 0.183);

    }

    .body{
        .row{
            min-height: 86vh;
        }
        .login_template{
            padding: 3rem 1.5rem;
            // border: 1px solid lightgray;
             background-color: rgba(0, 0, 0, 0.183);
             color: white;

            .form-control{
                box-shadow: none;
                border-radius: 0;
                background-color: rgba(211, 211, 211, 0.292);
                color: white;
            }
            .form-label{

            }
            .btn{
                border-radius: 0;
            }
        }
    }
}