.email-warning{
    .tip-list{
        color: darkblue;
        font-weight: bold;
    }
    li{
        list-style: inside;
    }
    .suggession-info{
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}