
<div class="email-warning">
    <div class="container p-3">
        <div class="d-flex justify-content-between">
            <h6 class="fw-bold">Dear Consumer,</h6>
            <i class="fa-solid fa-xmark text-danger fs-5" data-bs-dismiss="modal"></i>
        </div>
        <p>You are <span class="text-danger fw-bold">10</span> units away from your yesterday's consumption. Your estimated consumption for next 2 hours is <span class="text-danger fw-bold">12</span> units. Which may exceed your threshold. Hence you can consider following action</p>

        <ul class="mt-3 tip-list">
            <li>You have 2 less priority lamps in the out-door, turn off and save 1 unit.</li>
            <li>If you could use television 30 mins less, you can save 1 unit.</li>
        </ul>
        <!-- <hr> -->
        <p class="suggession-info">*above suggessions have made on the basis of appliances you have configured into application directory. Same has sent to your registered email-id.</p>
        <div class="mt-5 text-center text-danger">Have a nice day <i class="fa-regular fa-face-smile"></i></div>
    </div>

    
</div>