.monitor-page {
    background-color: white;
    h4{
        color: rgb(7, 7, 148);
        // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: Arial, Helvetica, sans-serif;

        font-size: 1.8rem;
    }
    .three-cards {

        .card {
            color: white;

            // font-weight: bold;
            .card-body {
                padding: 0.8rem 1.2rem;

                h5 {
                    margin: 0;
                }
            }

            .heading {
                font-weight: bold;
            }


        }

        .yellow {
            background-color: yellow;
            color: black;
        }

        .green {
            background-color: green;
        }

        .red {
            background-color: red;
        }
    }


    .choose-room {
        .form-select {
            box-shadow: none;
        }
    }

    .appliances-cards {
        .card {
            color: black;
            // border-radius: 50px;
            border-radius: 0;

            .card-body {
                padding: 0.8rem 1.2rem;
                h5 {
                    margin: 0;
                }
            }

            .heading {
                font-weight: bold;
                font-size: 1rem;
            }
            .ON{
                color: white;
                font-weight: bold;
                font-size: 0.8rem;
                background-color: green;
                padding: 0.4rem;

            }
            .OFF{
                color: white;
                font-weight: bold;
                font-size: 0.8rem;
                background-color: rgb(156, 9, 9);
                padding: 0.4rem;


            }
        }
        .card:hover{
            background-color: rgb(199, 200, 201);
        }
    }
}