.progress {
    border-radius: 0;
    height: 1.5rem;
    background: linear-gradient(90deg, rgba(58, 180, 66, 1) 15%, rgba(252, 182, 69, 1) 50%, rgba(253, 29, 29, 1) 100%);
}

.progress-bar {
    width: 40%;
    background-color: transparent;
    border-right: 2px solid rgb(0, 0, 0);
}

.reading-slider {
    position: relative;

    .limit-zero {
        position: absolute;
        left: 0%;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .limit-one {
        position: absolute;
        left: 50%;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .limit-two {
        position: absolute;
        left: 98%;
        font-weight: bold;
        font-size: 0.8rem;
    }
}

.legends {
    h6 {
        font-size: 0.8rem;
    }
}

.acr-reading {
    p {
        font-size: 1rem;

    }
}
.info{
    p{
        font-size: 0.9rem;
    }
}
.report_heading{
    font-size: 1.1rem;
    position: relative;
}
.monthly-report{
    .btn{
        border-radius: 0;
        font-size: 0.9rem;
    }

}

.recommendation{
    // background-color: rgb(19, 19, 188);
    background: linear-gradient(90deg, rgba(58,75,180,1) 50%, rgb(55, 84, 251) 100%);
    border-radius: 5px;
    cursor: pointer;
    h6{
        font-weight: bold;
        margin: 0;
        font-size: 1.1rem;
        
    }
    p{
        font-size: 0.9rem;
    }
}
.recommendation:hover{
    transform: scale(1.02);
    transition: all 0.6s ease;
    
}
.fa-circle-info{
    font-size: 0.8rem;
}
.peakWarning{
    color: red;
    cursor: pointer;
}
.lead{
    font-size: 1.1rem;
}
.acr-reading{
    position: relative;
}
.acr-info{
    font-weight: normal;
    font-size: 0.5rem;
    position: absolute;
    top: -1.4rem;
    right: -12.5rem;
}
.main-heading{
    background-color: rgb(35 67 201);
    color: white;
    padding: 0.5rem;
}
.acr-note{
    background-color: rgb(192, 221, 247);
    // border: 1px solid darkblue;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}
.baseConsumption{
    
    font-size: 0.9rem;
    background-color: lightgreen;
    border: 3px solid green;
    padding: 1rem 0.4rem;
    
}
.peakConsumption{
    font-size: 0.9rem;
    background-color: #ff2a26ca;
    border: 3px solid red;
    padding: 0.4rem;
    color: white;
    li{
        font-weight: bold;
    }
    .showMoreTip{
        background-color: white;
        color: red;
        font-size: 0.8rem;
        border-radius: 0;
        padding: 0.2rem 0.4rem;

    }
}
.notification{
    position: absolute;
    left: 33%;
    top: -8%;   
}
